# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- Working with markdown cells
- Creating a Notebook
- Making lists
- Making tables

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. SciPy
3. MatPlotLib
4. NumPy


| Data Science Tools |
| -------------|
| Anaconda |
| R Studio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200//60

3

## Author
Thomas VDG